@import '../../assets/sass/custom.scss';

.color-white {
    color: $color-white-1;
}

.custom-presale-container {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.custom-presale-col {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.custom-presale-left {
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;

    .custom-presale-header {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .custom-presale-info {
        color : $color-white-2;
        font-size: 1.3rem;
        font-weight: lighter;
        margin-bottom: 2rem;
    }
}


.custom-buy-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.custom-buy-card-body {
    border-radius: 20px 20px 0 0;
    padding: 3rem 3rem 2rem 3rem;
    background-color: $color-black-1;
    

    .custom-buy-card-header {
        // margin-top: 2rem;
    }

    .custom-buy-card-amount {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .custom-buy-card-amount-header {
        color: $color-white-2;
        margin-bottom: .6rem;
    }

    .custom-buy-card-amount-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .custom-buy-card-amount-input {
            width: 100%;
            background-color: $color-black-0;
            border-radius: 20px 0 0 20px;
            border: none;
            padding: 8px 20px;
            margin-right: 4px;
            font-family: $number-font;
            color: $color-white-1;

            &:hover, &:focus {
                outline: none;
            }
        }

        // remove spin-button
        input[type=number],
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -moz-appearance: textfield;
            -webkit-appearance: none; 
        }

        .custom-buy-card-amount-unit {
            width: 80px;
            display: inline-block;

            background-color: $color-black-0;
            border-radius: 0 20px 20px 0;
            padding: 8px 0;
            text-align: center;
        }
    }

    .custom-buy-card-info {
        b {
            font-family: $number-font;
        }
    }
}

.custom-buy-card-footer {
    border-radius: 0 0 20px 20px;
    padding: 1.6rem;
    background-color: $color-black-2;

    .custom-buy-card-buy-button {
        display: block;
        border-radius: 50px;
        width: 80%;
        padding: .6rem 1.2rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: $font-button-size-1;
        color: $color-black-0;
        cursor: pointer;
        background-color: $color-green-1;

        &:hover, &:focus {
            color: $color-black-1;
            background-color: $color-green-2;
            box-shadow: 0 0 6px #9ecaed;
        }

        &:disabled {
            background-color: $color-grey-1;
            box-shadow: none;
            color: $color-black-1;
            cursor: initial;
        }
    }

    .custom-buy-card-buy-state-info {
        color: $color-green-1;
        text-align: center;
        margin-top: 1rem;
        font-size: 1rem;
    }
}


////////////////////////////
.custom-timer-header {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.6rem;
    color: $color-green-1;
}

.custom-timer {
    margin-top: 1rem;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-align: center;

    .customer-timer-time {
        font-size: 3rem;
        font-family: $number-font;
    }

    .customer-timer-uint {
        font-size: 1rem;
        color: $color-blue-1;
    }
}

////////////////////////////
.custom-progress-container {
    margin-bottom: 1rem;

    .progress {
        height: 24px !important;
        border-radius: 20px !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
        .progress-bar {
            background-color: $color-blue-1 !important;
            border-radius: 20px !important;
            box-shadow: 0 0 15px #008cff;
        }
    }

    .custome-progress-number {
        margin-top: 1rem;
        text-align: center;
        font-family: $number-font;
        font-size: 1.2rem !important;
    }
}
