.deposit-free-but {
    background: #493C3C;
    border: none;
    border-radius: 30px;
    font-family: 'SF Pro Text';
    font-Size: 12px;
    color: white;
    padding: 10px;
    width: 300px;
    transition: .1s ease-in-out;

    transition: .3s ease-in-out;

    &:hover {
        background: #493c3c93;
    }
}

.info-card {
    background: #493C3C;
    border-radius: 15px;
    border: 2px solid white;
    padding:20px;
}
.NT-Badge {
    border-radius: 15px;
    padding: 5px 15px;
    background: #57A146;
    color: white;

}